.about-us {
  padding: 20px 0;

  &__top,
  &__bottom {
    align-items: center;
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    @include adaptiveValue("gap", 30, 15);

    img {
      height: auto;
    }

    @media (max-width:$tablet){
      grid-template: auto 1fr/1fr;
      justify-items: center;
      text-align: center;
    }
  }

  &__top {
    margin-bottom: 30px;
  }

  &__info {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
  }

  &__bottom-img {
    @media (max-width:$tablet){
      order: 2;
    }
  }

}