.about-us {
  padding: 20px 0;

  &__top,
  &__bottom {
    align-items: center;
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 30px;
  }

  &__top {
    margin-bottom: 30px;
  }

}