.assortment {
  text-align: center;
  overflow: hidden;
  @include adaptiveValue("margin-bottom", 80, 40);

  &__title {
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0 10px;
  }

  &__text {
    @include adaptiveValue("font-size", 24, 16);
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 80px;
    width: 2500px;
    margin-bottom: 20px;
  }

  &__link {
    display: inline-block;
    margin-bottom: 5px;
  }

}