.assortment {
  padding: 40px 0;
  text-align: center;
  overflow: hidden;

  &__title {
    max-width: 456px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0 10px;
  }

  &__text {
    @include adaptiveValue("font-size", 24, 16);
    padding: 0 10px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 50px 0;
    width: 2500px;
  }

}