.footer {
    background-color: $default;
    padding: 40px 0;
    transition: all 0.2s linear;

    .black-theme & {
        background-color: $dark-background;
        box-shadow: inset 3px 3px 20px 5px rgba(184,134,11,.37);
        border: 1px solid #b8860b;
        border-radius: 40px;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 700px;
        gap: 20px;
    }

    &__link {
        position: relative;
        outline: transparent;
        transition: color 0.2s linear;

        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 1px;
            background-color: $accent;
            transition: width 0.4s linear;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -5px;
            right: -5px;
            bottom: 0;
            border: 1px solid transparent;
            transition: border-color 0.2s linear;
        }
        
        &:focus {
            &::before {
                border-color: $accent;
                border-bottom-color: transparent;
                border-top-color: transparent;
            }
        }

        &:hover {
            color: $accent;

            &::after {
                width: 100%;
            }
        }
    }

    &__social-list {
        display: flex;
        gap: 20px;
    }

    &__social-link {
        display: flex;
        align-items: center;
        padding: 4px;
        outline: transparent;
        border: 1px solid transparent;
        border-radius: 50%;
        transition: border-color 0.2s linear;

        &:focus {
            svg {
                filter: grayscale(0);
            }
        }
    }

    &__social-link--instagram {
        &:focus {
            border-color: #E1306C;
        }
    }
    
    &__social-link--telegram {
        &:focus {
            border-color: #0088cc;
        }
    }

    &__social-link--vk {
        &:focus {
            border-color: #597da3;
        }
    }
    
    &__social-link--youtube {
        &:focus {
            border-color: #ff0000;
        }
    }

    svg {
        @media (min-width: 768px) {
            filter: grayscale(100%);
            transition: filter 0.2s linear;
    
            &:hover {
                filter: grayscale(0);
            }
        }
    }

    &__copy {
        flex-basis: 100%;
        font-family: 'AnonymousPro', sans-serif;
        font-size: 14px;
        text-align: center;
    }
}