.header {
  height: 100vh;
  position: relative;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    padding: 48px 0;
  }

  &__profile {
    &::before {
      content: "";
      display: block;
      background-image: url('../images/header/profile.png');
      @extend %bg-img;
      width: 40px;
      height: 40px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    background: radial-gradient(rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 60%);

    img {
      margin-bottom: 70px;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 300;
    color: #4a3024;
    margin-bottom: 40px;
  }

  &__info-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    animation: top-bottom 1.5s linear infinite;
    
    span {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-left: 3px solid black;
      border-bottom: 3px solid black;
      transform: rotateZ(315deg)
    }
  }

  &__images {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;

    img {
      position: absolute;

      @include r(1660) {
        transform: scale(0.7);
      }

      @include r(1200) {
        transform: scale(0.4);
      }
    }
  }

  &__images-one {
    top: -17%;
    right: 24%;

    @include r(1500) {
      right: 11%;
    }
  }

  &__images-two {
    top: 25%;
    right: 19%;
  }
  
  &__images-three {
    top: 54%;
    right: 12%;
  }

  &__images-four {
    top: 7%;
    right: -7%;
    z-index: -2;

    @include r(1500) {
      right: -12%;
    }
  }

  &__images-five {
    top: 37%;
    right: -17%;
    z-index: -2;

    @include r(1500) {
      top: 52%;
      right: -20%;
      transform: scale(0.5);
    }
  }

  &__images-six {
    right: 18%;
    bottom: -9%;
  }

  &__images-seven {
    left: 35%;
    bottom: 16%;

    @include r(1500) {
      left: 20%;
      bottom: 26%;
    }
  }

  &__images-eight {
    left: 23%;
    bottom: -4%;

    @include r(1500) {
      left: 38%;
    }
  }

  &__images-nine {
    left: 24%;
    bottom: 9%;

    @include r(1500) {
      left: 18%;
      bottom: 62%;
    }
  }

  &__images-ten {
    left: -6%;
    bottom: -9%;
    z-index: -2;

    @include r(1500) {
      left: -15%;
      bottom: -18%;
    }
  }

  &__images-eleven {
    top: 31%;
    left: 13%;
  }

  &__images-twelve {
    top: 0%;
    left: -5%;
    z-index: -2;

    @include r(1500) {
      top: -11%;
      left: -12%;
    }
  }
  
  &__images-thirteen {
    top: -7%;
    left: 20%;

    @include r(1500) {
      top: -12%;
      left: 15%;
    }
  }

  &__images-fourteen {
    top: 5%;
    left: 45%;
  }
}



.burger {
  @include burger;

  @include r(992) {
    display: block;
    z-index: 11;
    order: 2;
    @include adaptiveValue("margin-left", 40, 20);
  }
}


@keyframes top-bottom {
  0% {
    top: 0;
  }

  50% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}
