.top-brends {

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    // @include r(1350) {
    //   flex-direction: column;
    // }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 48%;
    padding: 30px 10px;
    border: 1px solid rgb(184 134 11);
    border-radius: 40px;
    box-shadow: inset 3px 3px 20px 5px rgb(184 134 11 / 37%);

    @include r(1350) {
      flex: 1 1 400px;
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__text {
    max-width: 300px;
    margin-bottom: 15px;
  }

  &__video-wrapper {
    height: 65vh;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
  }

  &__video {
    position: absolute;
    left: 0;
    right: 0;
    top: -35%;
    max-width: 100%;
  }

  &__topIMG,
  &__bottomIMG {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &__topIMG {
    top: 0;
  }

  &__bottomIMG {
    bottom: -42px;
    transform: rotateZ(180deg);
  }
}